<form action="https://service.capsulecrm.com/service/newlead" method="post">
  <input type="hidden" name="FORM_ID" value="{{ site.capsule_webform_key }}">
  <input type="hidden" name="COMPLETE_URL" value='{{ "/thank-you" | absolute_url }}'>
  <input type="hidden" name="TAG" value="Website">
  <!-- <input type="hidden" name="DEVELOPER" value="TRUE"/> -->

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label for="contactCompany">What is your project or company called?</label>
        <input type="text" name="ORGANISATION_NAME" class="form-control" id="contactCompany" required>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label for="contactName">What&apos;s your name?</label>
        <input type="text" name="PERSON_NAME" class="form-control" id="contactName" required>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label for="contactEmail">What&apos;s your email address?</label>
        <input type="email" name="EMAIL" class="form-control" id="contactEmail" required>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label for="contactPhone">What is best phone number to reach you?</label>
        <input type="text" name="PHONE" class="form-control" id="contactPhone">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="contactReason">How can we help?</label>
      <textarea name="NOTE" class="form-control" id="contactReason"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="contactBudget">What's your budget?</label>
        <select class="form-control" id="contactBudget" name="CUSTOMFIELD[Budget]">
          <option></option>
          <option>Less than $25,000</option>
          <option>$25,000 - $50,000</option>
          <option>$50,000 - $100,000</option>
          <option>Greater than $100,000</option>
          <option>Currently researching</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <input class="btn btn-primary" type="submit" value="Contact Us">
    </div>
  </div>
</form>
