<div class="container">
  <footer class="py-4 my-md-5 py-md-5">
    <div class="row align-items-center">
      <div class="col">
        <span>&copy; 2016 &ndash; {{ 'now' | date: "%Y" }} Bout Labs, LLC &ndash; Tampa, FL 33602</span>
      </div>
      <div class="col">
        <div class="hstack gap-3">
          <a href="https://www.linkedin.com/company/boutlabs" target="_blank" class="link-light">
            <svg class="bi" width="2em" height="2em" role="img" aria-label="LinkedIn">
              <use xlink:href="/assets/images/bootstrap-icons.svg#linkedin"></use>
            </svg>
          </a>
          <a href="https://github.com/BoutLabs" target="_blank" class="link-light">
            <svg class="bi" width="2em" height="2em" role="img" aria-label="Github">
              <use xlink:href="/assets/images/bootstrap-icons.svg#github"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
