<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-primary border-bottom shadow-sm">
    <div class="my-0 mr-md-auto font-weight-normal">
      <a href="/">
        <img src="/assets/images/bout-labs-logotype.svg" height=28 alt="{{ site.title }}">
      </a>
    </div>
    <nav class="my-2 my-md-0 mr-md-3">
      <!-- <a class="p-2 text-light" href="/services">Services</a> -->
      <a class="p-2 text-light" href="/blog">Blog</a>
      <!-- <a class="p-2 text-light" href="/support">Support</a> -->
    </nav>
    <a class="btn btn-outline-light" href="/contact-us">Contact Us</a>
  </div>
</header>
