---
layout: default
---

{%- assign _posts = site.posts | sort: 'date' | reverse -%}

<div class="container-fluid p-0 mb-3">
  <div class="row">
    <div class="col">
      <img src="/assets/images/blog-header.jpg" class="img-fluid" alt="Layout sketches">
    </div>
  </div>
</div>

<div id="blog-posts" class="container-fluid">
  <div class="row">
    <div class="col blog-main">
      {% for post in _posts %}
        {% include blog-post.html post=post %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="container">
  {{ content }}
</div>

