---
layout: default
---

<div class="container-fluid p-0 mb-3">
  <div class="row">
    <div class="col">
      <img src="/assets/images/contact-header.jpg" class="img-fluid" alt="Pen laying inside a book">
    </div>
  </div>
</div>

<div class="container-fluid">
  {{ content }}
</div>

<div class="container-fluid">
  <div class="mb-3">
    <div>
      <h5>How can we help?</h5>
      <p>
        Please let us know a little bit about your project and where you need some help. Someone from our team will reach out to schedule a time to talk.
      </p>
      {% include capsule-web-form.html %}
    </div>
  </div>
</div>
